/*
 * Device Tree overlay for SunFounder TFT35IPS display shield
 *
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835";

	fragment@0 {
		target = <&spi0>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&spidev0>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@2 {
		target = <&spidev1>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@3 {
		target = <&gpio>;
		__overlay__ {
			sunfounder_tft35ips_pins: sunfounder_tft35ips_pins {
				brcm,pins = <17 25 24>;
				brcm,function = <0 1 1>; /* in out out out */
			};
		};
	};

	fragment@4 {
		target = <&spi0>;
		__overlay__ {
			/* needed to avoid dtc warning */
			#address-cells = <1>;
			#size-cells = <0>;

			sunfounder_tft35ips: sunfounder_tft35ips@0{
			    compatible = "sunfounder,tft35ips";
				// compatible = "ilitek,ili9486";
				reg = <0>;
				pinctrl-names = "default";
				pinctrl-0 = <&sunfounder_tft35ips_pins>;

				spi-max-frequency = <24000000>;
				rotation = <180>;
                                bgr;
                                color_invert;
				reset-gpios = <&gpio 25 0>; // GPIO_ACTIVE_HIGH
				dc-gpios = <&gpio 24 0>; // GPIO_ACTIVE_HIGH
                                /*
				init = <0x1000011 0x20000ff
                                        0x1000036 0x28
                                        0x100003a 0x55
                                        0x10000f0 0xc3
                                        0x10000f0 0x96
                                        0x10000b4 0x01
                                        0x10000b7 0xc6
                                        0x10000c0 0x80 0x45
                                        0x10000c1 0x13
                                        0x10000c2 0xa7
                                        0x10000c5 0x0a
                                        0x10000e8 0x40 0x8a 0x00 0x00 0x29 0x19 0xa5 0x33
                                        0x10000e0 0xd0 0x08 0x0f 0x06 0x06 0x33 0x30 0x33 0x47 0x17 0x13 0x13 0x2b 0x31
                                        0x10000e1 0xd0 0x0a 0x11 0x0b 0x09 0x07 0x2f 0x33 0x47 0x38 0x15 0x16 0x2c 0x32
                                        0x10000f0 0x3c
                                        0x10000f0 0x69
                                        0x20000ff
                                        0x1000021
                                        0x1000029>;
                                */
			};

			sunfounder_tft35ips_ts: sunfounder_tft35ips-ts@1 {
				compatible = "ti,ads7846";
				reg = <1>;

				spi-max-frequency = <48000000>;
				interrupts = <17 2>; /* high-to-low edge triggered */
				interrupt-parent = <&gpio>;
				pendown-gpio = <&gpio 17 1>; // GPIO_ACTIVE_LOW
				touchscreen-swapped-x-y;
                                touchscreen-inverted-x;
                                touchscreen-inverted-y;
				ti,x-plate-ohms = /bits/ 16 <100>;
				ti,pressure-max = /bits/ 16 <255>;
			};
		};
	};
	__overrides__ {
		speed =		<&sunfounder_tft35ips>,"spi-max-frequency:0";
		rotate =	<&sunfounder_tft35ips>,"rotation:180";
		bgr = 		<&sunfounder_tft35ips>,"bgr=0";
                color_invert=   <&sunfounder_tft35ips>,"color_invert!";
		xohms =		<&sunfounder_tft35ips_ts>,"ti,x-plate-ohms;0";
		invx =		<&sunfounder_tft35ips_ts>,"touchscreen-inverted-x!";
		invy =		<&sunfounder_tft35ips_ts>,"touchscreen-inverted-y!";
		swapxy =	<&sunfounder_tft35ips_ts>,"touchscreen-swapped-x-y!";
	};
};